@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "登录";
}
@model ForLove.Models.LoginViewModel
<div class="login-container">
    @*<h1>LOVE TRIP</h1>*@
    <h1>SSH</h1>
    <div class="connect">
        @*<p>FOR SSH</p>*@
        <p>傻逼</p>
    </div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "loginForm" }))
    {
        <div>
            @Html.TextBoxFor(m => m.phone_number, new { @class = "phone_number", placeholder = "手机号", autocomplete = "off" })
        </div>
            <div>
                <input type="password" name="password" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
            </div>
            <button id="submit" type="submit">登 陆</button>
    }
    <a href="@Url.Action("Register","Account")">
        <button type="button" class="register-tis">还有没有账号？</button>
    </a>
</div>
